.image_wrap{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    padding: 8px 0;
    img.image{
        height: 100%;
    }
}
