ul#schools {
    font-size: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    // background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    padding: 12px;
    li {
        box-sizing: border-box;
        display: inline-block;
        border-radius: 4px;
        box-shadow: 0 0 1px rgba(0, 0, 0, .3);
    }
    li.school {
        width: 245px;
        height: 124px;
        background-color: white;
        border-left: 4px solid $blue;
        padding: 6px 12px;
        margin-right: 14px;
        margin-bottom: 10px;
        &:hover {
            cursor: pointer;
            box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        }
        p.name {
            height: 42px;
            line-height: 20px;
            font-size: 14px;
            color: $font_normal;
            // padding: 12px 0 10px;
            padding-top: 12px;
        }
        p.tel {
            font-size: 13px;
            line-height: 20px;
            color: $font_light;
            .price {
                color: $weixin_green;
                padding-right: 82px;
            }
        }
        p.operate {
            height: 16px;
            text-align: right;
            button {
                line-height: 16px;
                padding: 0;
                font-size: 12px;
            }
        }
    }
    li.add {
        font-size: 20px;
        width: 124px;
        height: 124px;
        background-color: white;
        line-height: 124px;
        text-align: center;
        color: $bg_grey;
        &:hover {
            cursor: pointer;
            color: lighten($blue, 12%);
            border: 1px solid lighten($blue, 16%);
        }
    }
}

.el-dialog--large {
    top: 5% !important;
}

#amap {
    height: 400px;
    .search-box {
        position: relative;
        top: 2px;
        left: 2px;
    }
}


div#amap {
    height: 400px;
}

div#panel {
    position: absolute;
    top: 12px;
    right: 12px;
    height: 400px;
}

input#search_box{
    width: 100%;
    line-height: 30px;
    border-radius: 4px;
    border: 1px solid #BFCBD9;
    padding: 0 12px;
    outline: none;
    font-size: 12px;
}
