@import "../../common/_color.scss";

p.table_top{
    display: flex;
    align-items: flex-end;
    small{
        color: $font_remark;
        font-size: 13px;
        padding-left: 12px;
        position: relative;
        bottom: 2px;
    }
}


ul.icons{
    display: flex;
    justify-content: flex-start;
    cursor: pointer;

    li{
        padding: 0 4px;
        text-align: center;
    }

    li.arrow_complete{
        color: $border_grey;
    }

    li.arrow_no{
        color: $border_grey_lighter;
    }

    // icon class
    .fa-file-excel-o{
        color: green;
    }
    i.fa-check{
        color: #13CE66;
    }
    i.fa-exclamation-triangle{
        color: #FF4949;
    }

    i.will{
        color: $border_grey_lighter !important;
    }
}

.fail_no_data{
    color: #F7BA2A;
    font-size: 12px;
}

.upload_success{
    color: $weixin_green;
    font-size: 12px;
}
