@import "../../common/_color.scss";
.setting_account_dialog {
    padding-left: 20px;
    .el-input {
        width: 300px;
    }
}
.withdraw_dialog {
    padding-left: 20px;
    .el-input {
        width: 100px;
    }
}
.row {
    margin-bottom: 15px;
}

.moneyicon {
    font-size: 24px;
    margin-right: 5px;
}

.blue {
    display: flex;
    align-items: center;
    justify-content: center;
    .block {
        width: 100%;
        border-right: 1px solid #6fa7ce;
        padding: 10px 0;
    }
    width: 50%;
    height: 130px;
    line-height: 28px;
    font-size: 16px;
    background: #7cbae5;
}

.total {
    display: flex;
    align-items: center;
    justify-content: center;
    .block {
        width: 100%;
        padding: 0 10px;
    }
    .btn_area {
        position: absolute;
        right: 20px;
    }
    width: 100%;
    height: 130px;
    line-height: 28px;
    font-size: 16px;
    background: #60d295;
}

p {
    text-align: center;
    color: #FFFFFF;
    width: 100%;
}


ul.info_list{
    font-size: 13px;
    li.info_item{
        padding-bottom: 36px;
        display: flex;
        align-items: center;
        span{
            display: inline-block;

        }
        span.key{
            color: $font_normal;
            width: 100px;
            text-align: right;
            &:after{
                content: "：";
            }
        }
        span.val{
            color: $font_light;
            padding-left: 18px;
            .can_without_amount{
                color: $jd_red;
            }

            img.payway{
                width: 64px;
            }
        }
    }
}
